:root {
  --mainBlue: #2d1ef1;
  --mainYellow: #ff9e09;
  --mainDark: #222;
  --mainWhite: #fff;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  color: var(--mainYellow);
  cursor: pointer;
  font-size: 2rem;
}
.button:hover {
  background: var(--mainYellow);
  transform: translate3d(0px, 0px, 5px);
  transition: all 500ms linear;
}
.lists {
  transition: all 0.8s linear !important;
}
.logo {
  color: var(--mainYellow);
}
